<mat-card>
    <div class="select-marksheet-form">
        <form [formGroup]="markSheetForm">
            <div class="top-btns">
                <mat-form-field>
                    <mat-label>Choose Term</mat-label>
                    <mat-select formControlName="term">
                        <mat-option *ngFor="let term of terms$ | async" [value]="term">
                            {{ term.num + " " + term.year }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Choose Class</mat-label>
                    <mat-select formControlName="clas">
                        <mat-option *ngFor="let clas of classes$ | async" [value]="clas.name">
                            {{ clas.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <mat-form-field>
          <mat-label>Choose Exam Type</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of examtype" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
            </div>
        </form>


        <div class="btns">
            <button mat-flat-button color="primary" [disabled]="markSheetForm.invalid" (click)="fetchMarkSheet()">
                Create
            </button>
            <!-- <button mat-flat-button color="accent" (click)="saveReports()">Save</button> -->
            <!-- <button mat-flat-button color="primary" (click)="viewReports()">View</button> -->
        </div>
    </div>
    <mat-spinner class="spinner" *ngIf="(isLoading$ | async)"></mat-spinner>
</mat-card>
<!-- Start Mark Sheet Table -->
<table style="width:100%" class="marksheet-container" *ngIf="reports">
    <caption>
        <h2>
            <!-- Mid Term {{ reports[0].num }}, {{ reports[0].year }} {{ reports[0].name }} Marksheet -->
        </h2>
    </caption>
    <tr>
        <th>St No</th>
        <th>Name</th>
        <th *ngFor="let subj of subjects">
            {{ subj }}
        </th>
        <th>Passed</th>
        <th>A*s</th>
        <th>As</th>
        <th>Bs</th>
        <th>Cs</th>
        <th>Ds</th>
        <th>Av Mark</th>
        <th>Pstn</th>


    </tr>
    <tr *ngFor="let rep of reports">
        <td>{{ rep.report.studentNumber }}</td>
        <td>{{ rep.report.name + ' ' + rep.report.surname }}</td>
        <td *ngFor="let subjInfo of rep.report.subjectsTable">
            {{ subjInfo.mark }}
        </td>
        <td>{{ rep.report.subjectsPassed }}</td>
        <td *ngFor="let gradeNum of rep.report.symbols">
            {{ gradeNum }}
        </td>
        <td>{{ rep.report.percentageAverge.toFixed(2) }}</td>
        <td>{{ rep.report.classPosition }}</td>

    </tr>

</table>



<!-- End Mark Sheet Table -->