<div class="admin" *ngIf="role === 'reception'">
  <div class="term-select">
    <!-- <mat-form-field>
      <mat-label>Select Term</mat-label>
      <mat-select *ngFor="let term of terms$ | async" [(ngModel)]="term" (selectionChange)="onTermChange($event.value)">
      </mat-select>
    </mat-form-field> -->
  </div>
  <div class="breakdown" *ngIf="invoiceStats$ | async as invoiceStats">
    <mat-card class="total-widget" *ngFor="let stat of invoiceStats">
      <mat-card-title>
        {{ stat.title }}
      </mat-card-title>
      <mat-card-content>
        <span class="total-value">${{ stat.total }}</span>
        <div class="breakdown">
          <label>O Level</label>
          <span class="breakdown-value">${{ stat.oLevel }}</span>
          <label>A Level</label>
          <span class="breakdown-value">${{ stat.aLevel }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>