.invoice-wrapper {
  padding: 1rem;
}
.bills-container,
.payments-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
}
h3 {
  display: flex;
  justify-content: center;
}
.row {
  padding-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.student-details {
  padding: 0.5rem;
}

.invoice-download {
  display: flex;
  justify-content: center;
}

.material-icons {
  /* font-size: 0.8rem; */
}

.download-btn {
  padding: 5px; /* Adjust this value as needed */
  min-width: unset; /* Override default min-width for fab buttons */
  height: auto; /* Ensure height adjusts with padding */
  width: auto; /* Ensure width adjusts with padding */
}

.total {
  font-weight: bold;
}
