mat-card {
  /* background-color: #84d2f6; */
  padding: 0.2rem;
  margin: 0;
}
mat-card-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}

mat-card-content:last-child {
  padding-bottom: 0 !important; /* Or your desired value like 8px */
}

.value {
  display: flex; /* 1. Make the span a flex container */
  align-items: center; /* 2. Vertically align items in the middle */
  gap: 5px; /* 3. Add a small gap between the text and icon */
  /* Optional: Adjust font size for the text if needed */
  /* font-size: 16px; */
}

/* Optional: Adjust the icon size if it doesn't align perfectly */
.value mat-icon {
  font-size: 18px; /* Example: make icon slightly smaller or larger to match text height */
  height: 18px; /* Match height to font-size for consistency */
  width: 18px; /* Match width to font-size */
}
