<mat-card *ngIf="enrolment &&(fees$ | async) as fees" class="billing">
  <mat-card-title>
    Select Fees to Bill Student
  </mat-card-title>
  <mat-card-content>
    <div class="reminders">
      <span *ngIf="isNewComer$ | async">
        New Student : Add Desk Fee and Application Fee
      </span>
      <span *ngIf="isScienceStudent">
        Science Student : Add Science Levy
      </span>
    </div>
    <mat-chip-listbox class="chip-list">
      <mat-chip *ngFor="let fee of fees" [value]="fee" (click)="addToBill(fee)" selectable>
        {{ sharedService.feesNamesToString(fee.name) + ': $' + fee.amount.toFixed(2) }}
        <mat-icon *ngIf="isSelected(fee)">check</mat-icon>
      </mat-chip>
    </mat-chip-listbox>
    <div *ngIf="!fees">
      No Fees To Display
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="confirmBill()">
      Bill Student
    </button>
  </mat-card-actions>
</mat-card>