<mat-toolbar class="title">{{ title.getTitle() }}</mat-toolbar>

<form [formGroup]="perfForm" (ngSubmit)="getPerfData()">
  <div class="top-btns">
    <mat-form-field>
      <mat-label>Choose Term</mat-label>
      <mat-select formControlName="term">
        <mat-option *ngFor="let term of terms$ | async" [value]="term">
          {{ term.num + " " + term.year }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choose Class</mat-label>
      <mat-select formControlName="clas">
        <mat-option *ngFor="let clas of classes$ | async" [value]="clas.name">
          {{ clas.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Exam Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of examtype" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-mini-fab type="submit" [disabled]="perfForm.invalid">
      graph
    </button>
  </div>
</form>



<div style="display: block">
  <canvas id="mychart" baseChart [options]="chartOptions" [type]="'line'" [data]="lineChartData"
    [legend]="lineChartLegend">
  </canvas>
</div>