<div class="invoice-item">
  <div class="invoice-download" *ngIf="invoice">
    <button type="button" mat-mini-fab color="primary" class="download-btn" (click)="downloadable? download() : save()">
      <span class="material-icons">{{ downloadable? 'download' : 'save' }}</span>
    </button>
  </div>
  <div class="school-contact">
    <img src="../../../assets/jhs_logo.jpg" alt="School logo" class="logo" />
    <address class="school-address">
      <span class="address-heading">Junior High School</span>
      <span class="contact-detail">30588 Lundi Drive, Rhodene, Masvingo</span>
      <span class="contact-detail">Phone: +263 392 263 293 / +263 78 223 8026</span>
      <span class="contact-detail">Email: <a
          href="mailto:info@juniorhighschool.ac.zw">info@juniorhighschool.ac.zw</a></span>
      <span class="contact-detail">Website: <a
          href="http://www.juniorhighschool.ac.zw">www.juniorhighschool.ac.zw</a></span>
    </address>
  </div>

  <div class="invoice-title">
    <h1>INVOICE FOR TERM 2 2025</h1>
    <div class="invoice-number">
      <span class="invoice-label">Invoice #:</span>
      <span class="invoice-value">INV-0001</span>
      <span class="invoice-label">Date:</span>
      <span class="invoice-value">16/05/25</span>
      <span class="invoice-label">Due Date:</span>
      <span class="invoice-value">15/06/25</span>
    </div>
  </div>

  <div class="bill-to">
    <span class="bill-label">Bill Tospan</span>
    <span class="bill-value">John Doe</span>
    <span class="bill-label">Student No</span>
    <span class="bill-value">S2401100</span>
    <span class="bill-label">Class</span>
    <span class="bill-value">2 Blue</span>
    <span class="bill-label">Residence</span>
    <span class="bill-value">Boarder</span>
    <span class="bill-label">Phone</span>
    <span class="bill-value">0778261057</span>
    <span class="bill-label">Email</span>
    <span class="bill-value">H3Bk6@example.com</span>
  </div>

  <table class="invoice-table" *ngIf="invoice">
    <thead>
      <tr>
        <th>Fees Description</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tr *ngFor="let bill of invoice.bills">
      <td>{{ sharedService.feesNamesToString(bill.fees.name) }}</td>
      <td>{{ bill.fees.amount | currency }}</td>
    </tr>
    <tr>
      <td class="total">Total</td>
      <td class="total">{{ invoice.totalBill| currency }}</td>
    </tr>
  </table>

  <p class="terms"><span class="terms-label">Terms and Conditions:</span> Payment is due within 30 days or before
    schools open whichever comes first. Please
    include the Student Number on your payment.</p>

  <h3>Banking Details</h3>

  <div class="banking-details">

    <span class="banking-label">Account Name</span>
    <span class="banking-value">JUNIOR HIGH SCHOOL</span>
    <span class="banking-label">Bank</span>
    <span class="banking-value">ZB BANK</span>
    <span class="banking-label">Branch</span>
    <span class="banking-value">MASVINGO</span>
    <span class="banking-label">Account Number</span>
    <span class="banking-value">4564 00321642 405</span>
  </div>

  <p class="footer">Thank you for your business!</p>

</div>