mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mat-icon {
  /* color: green; */
  font-size: 34px;
  width: 34px;
  height: 34px;
}

h1 {
  margin: 0;
  padding: 0;
}

mat-sidenav-container {
  height: 100vh;
  width: 100vw;
}

.sidenav-container {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
}

button a {
  text-decoration: none;
}

.active {
  /* background-color: #339; */
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  font-size: xx-large;
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .full-width-mobile {
    width: 100%;
    padding: 0 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .full-width-mobile {
    width: 100%;
    padding: 1rem 2rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .max-width-desktop {
    max-width: 1200px;
    margin: auto;
  }
}

@media print {
  .toolbar {
    display: none;
  }
}
