<mat-card *ngIf="(studentsToBill$ | async)?.length">
  <mat-card-title>
    Students Not Yet Billed for Term {{ currentTerm.num + ' ' + currentTerm.year }}
  </mat-card-title>
  <mat-card-content>
    <mat-chip-listbox [(ngModel)]="selectedStudent">
      <mat-chip *ngFor="let student of studentsToBill$ | async" [value]="student">
        {{ student.studentNumber + ' ' + student.surname + ' ' + student.name }}
        <mat-icon *ngIf="selectedStudent.studentNumber == student.studentNumber">check</mat-icon>
      </mat-chip>
    </mat-chip-listbox>
  </mat-card-content>
</mat-card>