.search {
  display: flex;
  justify-content: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: stretch;
}

.enrolment-invoice {
  display: flex;
  flex-flow: column nowrap;
}

.billing-payment-container {
  display: flex;
  flex-flow: column nowrap;
}
