<div class="receipt-container" *ngIf="receipt$ | async as receipt">
  <div class="header">
    <h1 class="receipt-title">RECEIPT</h1>
    <div class="receipt-details">
      <div class="detail-item">
        <span>Receipt #:</span>
        <span>{{ receipt.receiptNumber }}</span>
      </div>
      <div class="detail-item">
        <span>Payment Date:</span>
        <span>{{ receipt.paymentDate | date:'shortDate' }}</span>
      </div>
      <div class="detail-item">
        <span>Payment Method:</span>
        <mat-form-field>
          <mat-label>Payment Method</mat-label>
          <mat-select [(value)]="receipt.paymentMethod">

            <mat-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod">{{ paymentMethod
              }}</mat-option>

          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="section from-to-section">
    <div class="party-block">
      <p class="section-heading">From:</p>
      <p>Junior High School</p>
      <p>30588 Lundi Drive, Rhodene, Masvingo</p>
      <p>+263 392 263 293 / +263 78 223 8026</p>
      <p>info@juniorhighschool.ac.zw</p>
    </div>
    <div class="party-block">
      <p class="section-heading">To:</p>
      <p>{{ receipt.student.name + ' ' + receipt.student.surname }}</p>
      <p>{{ receipt.student.address }}</p>
      <p>{{ receipt.student.cell }}</p>
      <p>{{ receipt.student.email }}</p>
    </div>
  </div>


  <div class="section summary-section">

    <div class="summary-totals">
      <div class="total-row">
        <span>Enter Amount Paid:</span>
        <span>
          <mat-form-field class="amount-input">
            <mat-label>Enter Amount Paid</mat-label>
            <mat-icon matPrefix>attach_money</mat-icon>
            <input matInput placeholder="1200" type="number" [(ngModel)]="receipt.amountPaid">
          </mat-form-field>

        </span>
      </div>

      <div class="total-row total-due">
        <span>Total Due:</span>
        <span>{{ receipt.amountDue| currency:'USD':'symbol':'1.2-2' }}</span>
      </div>
      <div class="total-row amount-paid">
        <span>Amount Paid:</span>
        <span>{{ receipt.amountPaid | currency:'USD':'symbol':'1.2-2' }}</span>
      </div>
      <div class="total-row amount-outstanding">
        <span>Amount Outstanding:</span>
        <span class="outstanding">{{ receipt.amountOutstanding | currency:'USD':'symbol':'1.2-2' }}</span>
      </div>
    </div>
  </div>

  <div class="summary-remarks">
    <p class="section-heading">Remarks:</p>
    <p>{{ receipt.description || 'Thank You For Your Prompt Payment, We Appreciate Your Business' }}</p>
  </div>



  <div class="footer">
    <p class="powered-by">served by : {{ receipt.servedBy }}</p>
    <p class="thank-you">Thank you for your business!</p>
  </div>
</div>